nav a.active {
    text-shadow: 2px 3px 4px;
    font-weight: bold;
}

.root-layout {
    height: 90vh;
}

.about-us {
    height: 90vh;
}

.contact-us {
    height: 90vh;
}
.contactt-us {
    height: 70vh;
}


#image {
    display: none;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.parent:focus-within:focus-within label {
    font-weight: bold;
}

.workersignup {
    display: flex;
    align-items: center;
    height: 80vh;
}